body{
    text-align: center;
    font-family: Arial;
    color: deeppink;
}

#container
{
    width: 705;
    padding: 1em;
    text-align: center;
    border: 1px;
    color: red;
    border: 1px solid #DDD;
    align-self: center;
    margin: 0 auto;
    padding: auto;
}

#cabecera
{
    background:  #3DA;
    box-shadow: 0px 2px 0px rgba(0,0,0,0,75);
    margin : 0;
    color: white;
    font-family: monospace;
}

#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.8em;
}


#header{
    background : red;
    align-self : center;
    color:  black;
    padding: auto;
    width: 705;
    margin : auto;
}

#footer
{
    width: 705;
    align-self: center;
    background:  rgba(170, 150, 85, 0.667);
    font-weight: normal;
    font-size: 0.8em;
    box-shadow: 0px 2px 0px rgba(0,0,0,0,75);
    text-align: center;
    margin: 0 auto;
    padding: auto;
    color: darkmagenta
}